html {

  scroll-behavior: auto;
  --dark-bg: black;
  overflow-x: hidden;
  max-width: 100%;
}

html::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: #ff4000;
  color: #000;
}

::-moz-selection {
  background-color: #ff4000;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Geist", sans-serif;
  color: #fff;
  overflow-x: hidden;
  max-width: 100%;
}

img {
  max-width: 100%;
}
